.m2__what-item {
    outline-style: double;
}

.m2__subsrc_lozad {
    background-color: #20bec6;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: #20bec6;
}

.m2__family-block .h2_title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}

.main-page-ua__header-devices-content {
    display: flex;
    align-items: center;
}

.m2__channels-container .m2__what-text {
    width: 80%;
}

.m2__what-text {
    max-width: 520px;
}

.ROZETKA {
    text-align: center;
}

.h3_title {
    font-size: 30px;
    line-height: 34px;
}